form {
    width: 60%;
    padding-top: 2.85vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.not-active {
    display: none;
}

.button-container {
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#step-button {
    height: 5vh;
    width: 6.5vw;
    background-color: var(--Marine-blue);
    color: var(--White);
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.goback {
    height: 0;
    background-color: transparent;
    color: var(--Marine-blue);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

/*---------------------- Your Info -------------------------*/
.yi-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.wrapper label {
    color: var(--Marine-blue);
    font-size: 1rem;
    font-weight: 500;
}

#NAME, #EMAIL, #PHONE {
    border: 1px solid var(--Light-gray);
    border-radius: 0.5rem;
    height: 2vw;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.25vw 0.75vw;
    color: var(--Marine-blue);
}

.wrapper input:hover {
    cursor: pointer;
    border: 1px solid var(--Purplish-blue);
}

.wrapper input:focus {
    outline: 0;
    border: 1px solid var(--Purplish-blue);
}

.title-yi {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Marine-blue);
}

.desc-yi {
    color: var(--Cool-gray);
    word-spacing: 0.1rem;
    font-size: 0.95rem;
}

.error-message {
    color: var(--Strawberry-red);
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 22rem;
    right: 32rem;
}

.error-input {
    border: 1px solid var(--Strawberry-red);
    border-radius: 0.5rem;
    height: 2vw;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.25vw 0.75vw;
}